.inline {
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .popup {
    border: 1px solid lightgrey;
    box-shadow: 0px 0px 5px 0px lightgrey;
    -webkite-box-shadow: px 0px 5px 0px lightgrey;
    -moz-box-shadow: px 0px 5px 0px lightgrey;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    margin-top: 10px;
    text-align: center;
    position: relative;
  }
  .popup:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    left: 49%;
    outline: 1px black;
    border-bottom: 10px solid lightgrey;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
  }
  
  .editor {
    position: absolute;
    top: 5px;
    left: -30px;
    background: lime;
    color: green;
    border-radius: 50% 0px 0px 50%;
    -moz-border-radius:50% 0px 0px 50%;
    -webkit-border-radius:50% 0px 0px 50%;
    margin: 0;
    text-align: center;
    width: 30px;
    height: 40px;
    cursor: pointer;
    box-shadow: -1px 1px 0px 0px lightgrey;
    -webkit-box-shadow: -1px 1px 0px 0px lightgrey;
    -moz-box-shadow: -1px 1px 0px 0px lightgrey;
    display: none;
    border:0px none;
  }
  .editor[disabled]{
    background:gray;
    color:black;
  }
  .editor i {
    text-align: center;
    margin: 0 auto;
    margin-left: 5px;
    line-height: 40px;
  }
  
  .resultTable tbody > tr:hover .editor {
    display: block;
  }
  
  .hidden {
    display: none;
  }
  
  .visible {
    display: block;
  }
  
  .notFound {
    width: 100%;
    height: 200px;
    color: grey;
    font-weight: lighter;
    text-align: center;
    border: 2px dashed grey;
  }
  .notFound h1 {
    line-height: 200px;
    margin: 0 auto;
  }
  
  #buttons {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  #buttons input {
    border: 1px solid lightgrey;
    border-radius: 2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    background: white;
  }
  
  /** top container **/
  .content {
    background: #f5f5f5;
    min-height: 250px;
    border: 1px solid lightgrey;
    border-radius: 5px;
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
  }
  .content hr {
    margin-top: 20px;
  }
  .thcol{
    width:20px;
  }
  .shelf {
    margin: auto;
    padding: 20px;
    height: 85px;
  }
  .shelf input[type="text"] {
    max-height: 35px;
    width: 300px;
  }
  .shelf:last-child {
    padding-top: 10px;
  }
  .shelf label {
    line-height: 35px;
    width: 70px;
    font-size: 16px;
    margin-right: 20px;
  }
  .shelf label span {
    color: red;
  }
  
  /** bottom container **/
  @media (max-width: 450px) {
    table.table-bordered tr,
    table.table-bordered td,
    table.table-bordered th,
    table.table-bordered thead,
    table.table-bordered tbody,
    table.table-bordered {
      display: block;
    }
  
    table.table-bordered {
      display: flex;
      overflow: hidden;
      border: 0px none;
      width: 100%;
      margin: auto;
    }
  
    table.table-bordered th {
      border: 0px none;
    }
  
    table.table-bordered tr {
      margin: 0.2em 0;
    }
    /** dynamic */
    /* table.table-bordered thead {
      --cols: 6;
      --height: calc(1.67em * var(--cols));
      text-shadow: 0 var(--height), 0 calc(var(--height) * 2), 0 calc(var(--height) * 3), 0 calc(var(--height) * 4);
    } */
  
    table.table-bordered th {
      text-align: left;
    }
  
    table.table-bordered td:not(:first-child) {
      border-top: none;
    }
  }
  .nopd {
    padding: 0px;
    margin-top: 10px;
  }
  .nopd .table-bordered {
    border-radius: 5px !important;
    -moz-border-radius:5px !important;
    -webkit-border-radius:5px !important;
    border-spacing: 0;
    border-collapse: collapse;
    position: relative;
  }
  .nopd .table-bordered tr,
  .nopd .table-bordered td {
    white-space: nowrap;
    position: relative;
  }
  
  .nopd .table-bordered th {
    cursor: pointer;
  }
  .nopd .table-bordered .deleteBtn {
    color:black;
    border: 1px solid lightgrey;
    border-radius: 2px;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    width: 100%;
    height: 100%;
    outline: none;
    cursor: pointer;
    background: #fefefe;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzNiUiIHN0b3AtY29sb3I9IiNmZWZlZmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYjdiN2I3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
    background: -moz-linear-gradient(top, #fefefe 36%, #b7b7b7 100%, #e5e5e5 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(36%, #fefefe), color-stop(100%, #b7b7b7), color-stop(100%, #e5e5e5));
    background: -webkit-linear-gradient(top, #fefefe 36%, #b7b7b7 100%, #e5e5e5 100%);
    background: -o-linear-gradient(top, #fefefe 36%, #b7b7b7 100%, #e5e5e5 100%);
    background: -ms-linear-gradient(top, #fefefe 36%, #b7b7b7 100%, #e5e5e5 100%);
    background: linear-gradient(to bottom, #fefefe 36%, #b7b7b7 100%, #e5e5e5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr="#fefefe", endColorstr="#e5e5e5", GradientType=0 );
  }
  .log {
    position:absolute;
    bottom:50px;
    left:0;
    float:left;
    padding:30px;
    border:2px solid lightgrey;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    background:white;
    color:black;
}
/* The ribbon*/
.corner-ribbon{
  width: 200px;
  background: #e43;
  position: absolute;
  top: 25px;
  left: -50px;
  text-align: center;
  line-height: 50px;
  letter-spacing: 1px;
  color: #f0f0f0;
}
/* Custom styles */
.corner-ribbon.sticky{
  position: fixed;
}
.corner-ribbon.top-right{
  top: 25px;
  right: -50px;
  left: auto;
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
}
/* Colors */
.corner-ribbon.red{background: #e43;}